</div>
<div class="footer-padding"></div>
<div class="footer">
  <ul class="socials">
    <li><a href=http://facebook.com><i class="fab fa-facebook-f"></i></a> </li>
    <li><a href=http://instagram.com><i class="fab fa-instagram"></i></a> </li>
    <li><a href=http://twitter.com><i class="fab fa-twitter"></i></a> </li>
</ul>
  <p>Copyright reserved &copy; 2021. Designed by <span>sonia</span></p>
  </div>
</body>
</html>
