<%- include("partials/header"); -%>
<h1>Food Blog</h1>
<h3>Food Talk</h3>
<p>If life has been kinda ho-hum or I’ve just dry for anything interesting to talk about, then it probably makes the most sense to get started by just writing about the recipe. Whiiich is kind of a “duh” moment because we are talking about food blogs. But even though it’s so simple, it can be surprisingly hard. It’s like I sit down, get the recipe in there, have the pictures in place. Now, uh, what do I have to say? Yum. The End.</p>
<br>
<p>Here are some ideas of food related writing material that I use for inspo when I’m stuck. I’m not the only one, right?</p>
<br>
<p>sharing little tips for how to make the recipe turn out just right, like me demanding that you try using a food processor for the jalapeños or talking a lot about pan tilting and crepe flipping.
    describing which specific ingredients you recommend, like me obsessing over Trader Joe’s prechopped mirepoix
    explaining what ingredients are typically used and how the dish is traditionally made – Jun-Blog is spot-on here
    walking through how you did each specific step: Pioneer Woman has this down pat + she’s hilarious while doing it
    your own made-up question and answer about the food or recipe, like when I did that for those plantains that I’m craving right now</p>
<h3>Story</h3> 
<p>As I have started to develop more of a relationship with my readers (I’m lookin’ at you, xo), I’ve started sharing more beyond-the-food stories. Like dumb little stories about going to the movies. Or more experiential stories about living the Philippines. Or pictures of my house. Did I really just put those on the world wide webby? What in the world. Or even serious, sad, and deep in my heart stories about Bjork’s young aunt passing away after a battle with early onset Alzheimer’s. If it’s on my heart, I try to authentically share it in a way that is compatible with the recipe that I’m posting.</p>   
<br>
<p>This is powerful because a) it’s authentic! three cheers! and b) because people love love love stories. Myself included. I remember once I read a post by Joy the Baker and I can still remember the hilarious story she shared about a misplaced bee and a taken-off shirt in the middle of downtown (major paraphrase there – apologies, Joy). But guess what? I have no recollection whatsoever of what the recipe was in that post. Yet I vividly remember reading that post because of the story, and I remember it again whenever I think of her blog. That’s sticky and it’s good.</p>
<p>To my food bloggers, remember that we want to not only provide useful content (a rockin’ recipe) but that we also want to connect and share with a group of people who want to read our blogs. And that connection is built not just because of the recipes, but because of who YOU are as a person and how well your reader can feel like they know you. And the goal is that you can very authentically communicate who you with your readers through your stories and your voice.

    In the last two years, I have changed my approach from just cranking out recipe after recipe to seeing my blog as a documenting of my story. Our year-long adventure in the Philippines sort of opened that door for me. The face of the blog is food, but I hope it always also tells the story of our lives and the people around us.</p>
<br><br>    
