<%- include("partials/header"); -%>
<h1>Writer's Digest</h1>
<p>Writer's Digest was first published in December 1920 under the name Successful Writing. It changed name to Writer's Digest with the March 1921 issue. By the late 1920s, it shifted emphasis more from literary-quality writing to the rapidly growing pulp magazine field, which offered the widest opportunities to freelance writers. An important feature from 1933 forward was the New York Market Letter, edited by Harriet Bradfield, which gave timely updates on editor needs in the magazine field. As the pulp field collapsed in the 1950s, Writer's Digest shifted emphasis to famous writers and quality fiction.</p>
<br>
<p>F+W Media, facing near-term liquidity issues with only about $2.5 million in cash available and $105.2 million in outstanding debt, filed on 10 Mar 2019 for protection under Chapter 11 of the federal bankruptcy code, citing in various documents a perfect storm of secular industry decline, poor investments, and even mismanagement. Apparently their attempts to transition focus to online from print sales was poorly done. Their users forum had not worked well for some time, and the number of users had dropped way down from previous times.</p>
<p>Writer's Digest was bought by the Active Interest Media subsidiary of Cruz Bay Publishing and/or PRH (Penguin Random House) after bankruptcy of F+W, according to various sources. Penguin Random House acquired the book publishing assets of F+W Media, which include the Writer's Digest catalog. Cruz Bay got several magazines from F+W, including Writer's Digest, for $200,000, beating out enthusiast publisher Madavor Media.</p>
<p>Writer's Digest also sponsors several in-house contests annually, including the Writer's Digest International Self-Published Book Awards and their Annual Writing Competition for short stories.

    Writer's Digest partnered with book publisher BookBaby, the sister company of CD Baby, in August 2014, to create a self-publishing division called Blue Ash Publishing, to provide instruction and education alongside book publishing and printing services. Blue Ash Publishing takes its name from the home office of the Writer’s Digest editorial team located in Blue Ash, Ohio.</p>
<h2>REFERENCES</h2>   
<a href=" https://www.writersdigest.com/forums">Click me</a><br>
<a href="https://www.authorsguild.org/industry-advocacy/information-on-the-fw-writers-digest-bankruptcy">Click me</a>

