<%- include("partials/header"); -%>
<h1>Lorem</h1>
<P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis accusantium delectus voluptatibus aliquam magni accusamus sit ea, maiores blanditiis recusandae? Labore reprehenderit eveniet, officia necessitatibus ut facilis! Nam, cumque deleniti.</P>
               