<%- include("partials/header"); -%>
    <h1>YOUR EMAIL HAS BEEN VERIFIED</h1>
    <form class="" method="post" action="/compose">
        <a class="btn btn-primary" name="button" href="/compose">Compose</a>
    </form>
<%- include("partials/footer-2"); -%>